<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqToSQL.Properties.Settings.FabioCsharpDBConnectionString"
            connectionString="Data Source=DESKTOP-A6ODP7Q\FABIOCSHARPTUT;Initial Catalog=FabioCsharpDB;Persist Security Info=True;User ID=sa;Password=sv6yW2#&amp;@%4Tj"
            providerName="System.Data.SqlClient" />
        <add name="LinqToSQL.Properties.Settings.FabioCsharpDBConnectionString1"
            connectionString="Data Source=DESKTOP-A6ODP7Q\FABIOCSHARPTUT;Initial Catalog=FabioCsharpDB;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>